.result-list-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-list-container--column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.result-list {
    flex: 1;
}

.result-list__day-title {
    padding: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.result-list__tables {
    display: flex;
    flex-direction: row;
}

.result-list__tables div.results-table-container:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

@media(max-width: 1200px) {
    .result-list__tables div.results-table-container:first-child {
        border-right: 0;
    }
    .result-list__tables {
        flex-direction: column;
    }
}
