.form-data__submit-btn {
    width: 100%;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.form-data__form {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.form-data__form div:first-child {
    flex: 1;
}

.form-data__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
