.fade-enter {
    opacity: 0;
    height: 0;
}

.fade-enter-active {
    opacity: 1;
    height: 48px;
    transition: all .3s;
}

.fade-exit {
    opacity: 1;
    height: 48px;
}

.fade-exit-active {
    opacity: 0;
    height: 0;
    transition: all .3s;
}

.selected-airports__title {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
}

.selected-airports__list {
    overflow: auto;
    background: #f7f7f7;
    height: 100%;
}

.selected-airports__list-item {
    background-color: white;
}

.selcted-airports {
    flex: 1;
    min-width: 250px;
    max-height: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 8px;
}

.selected-airports__actions {
    display: flex;
    align-items: center;
    padding: 10px;
}

.selected-airports__actions>button {
    flex: 1;
    margin: 4px;
}
