.modal-select__input {
    width: 100%;
    padding: 8px 24px;
}

.modal-select__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.MuiDialog-paper {
    height: 100%;
}

.modal-select__dialog {
    max-width: 400px;
    width: 100%;
}

.modal-select__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-select__header {
    background: #e8e8e8;
}

.modal-select__list {
    overflow: auto;
    flex: 1;
}

.modal-select__list-item {
    min-height: 50px;
}
