.calendar {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.calendar__header {
    padding: 6px 24px 6px 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.calendar__header-title {
    font-size: 20px;
    font-weight: 300;
}

.calendar__table-data {
    vertical-align: baseline;
    height: inherit;
    padding: 0;
}

.calendar__day {
    background: #f9f9f9;
    height: 105px;
    padding: 2px!important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.calendar__day--disabled {
    height: 105px;
    background: #cccccc0d!important;
    cursor: default!important;
}

.calendar__day--disabled .calendar__day-count {
    display: none;
}

.calendar__day--disabled .calendar__day-number {
    opacity: .7;
}

.calendar__day:hover {
    background: #e0e0e0;
    cursor: pointer;
}

tr .calendar__table-data:first-child>.calendar__day, tr .calendar__table-data:last-child>.calendar__day {
    background: #e91e632b;
}

tr .calendar__table-data:first-child>.calendar__day:hover, tr .calendar__table-data:last-child>.calendar__day:hover {
    background: #e91e625b;
}

.calendar__row {
    height: 1px;
}

.calendar__day-flights {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    flex: 1;
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar__day-line {
    border-top: solid 1px #a7a7a7;
    margin: 0 15%;
}

.calendar__day-flights--return {
    color: #187ec7;
}

.calendar__day-flights--from {
    color: #2d2d2d;
}

.calendar__day-flights>div:not(:first-child) {
    display: none;
}

@media(max-width: 500px) {
    .calendar__day-flights {
        font-size: 12px;
    }
    .calendar__day-count {
        font-size: 12px;
    }
}

.calendar__day-header {
    justify-content: space-between;
    display: flex;
}

.calendar__day-footer {
    display: flex;
}

.calendar__day-count {
    color: #777777;
    margin-left: auto;
}

.calendar__day-number {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

table.calendar td, table.calendar th {
    border: 1px solid rgb(224, 224, 224);
}

table.calendar tr:first-child th {
    border-top: 0;
}

table.calendar tr td:first-child, table.calendar tr th:first-child {
    border-left: 0;
}

table.calendar tr td:last-child, table.calendar tr th:last-child {
    border-right: 0;
}

.selected_day {
    padding-top: 6px;
}

.calendar__table-header {
    padding: 8px 0;
}

.loading-shade {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffbf;
    z-index: 2;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #464646;
    font-weight: 500;
    position: absolute;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-shadow: 2px 2px 6px #00000085;
}

.loading-shade__container {
    position: relative;
}

.filter-blur {
    filter: blur(2px);
}

.icon-star {
    color: #5f5f5f;
}

.icon-star-return {
    color: #0004a9;
}
