@media(max-width: 500px) {
    .table-data {
        padding: 8px!important;
        /* font-size: 0.8rem!important; */
    }
    .small-font .table-data {
        font-size: 0.8rem!important;
    }
    .airline-header {
        display: none;
    }
}

.table-data {
    white-space: nowrap;
    padding: 10px!important;
}

.table-data.sort {
    cursor: pointer;
}

.table-row:hover {
    background: #fafafa;
}

a.link:link, a.link:visited {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    text-decoration: none;
}

a.link:hover {
    color: rgba(0, 0, 0, 0.6);
}

a.link:active {
    color: #3f51b5;
}

.results-table-container {
    flex: 1;
}

.results-table__header {
    font-weight: 300;
    font-size: 16px;
    padding: 6px 16px 6px 16px;
}
