.search-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.form-container {
    padding: 10px;
    flex: 1;
    width: 450px;
    max-width: 450px;
    max-height: 820px;
    display: flex;
    flex-direction: column;
}

.results-container {
    padding: 10px;
    flex: 1;
    max-width: 800px;
}

.form-box {
    height: 100%;
}

.map-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.map {
    height: 550px;
}

.map, .map-table {
    flex: 1;
}

.map-table {
    overflow: auto;
    max-height: 250px;
}

.map-loading {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 100;
    font-family: Helvetica, sans-serif;
}

@media(max-width: 1000px) {
    .search-container {
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .form-container {
        padding: 0;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        min-height: 100vh;
    }
    .results-container {
        max-width: 650px;
    }
    .form-box {
        overflow: hidden;
        height: 100%;
    }
    .map {
        height: unset;
    }
    .map-table {
        max-height: unset;
    }
}
